<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Enter or create a classroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/create-classroom" expand="block">Create a classroom (Teacher)</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login-teacher" expand="block">Join a classroom (As Teacher)</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login-student" expand="block">Join a classroom (As Student)</ion-button>
      </ion-col>
    </ion-row>      
  </ion-grid>
</ion-content>
